* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutcontainer {
    margin-top: 200px;
    margin: auto, 500px;
    width: (100vw - 2rem);
    /* height: 50vh; */
    height: 100vh;
    /* background-color: aqua; */
    /* padding: 60px; */
    margin-bottom: 10px;

}

.aboutcontainer h3 {
    text-align: start;
    padding-left: 50px;
    font-weight: 700;
    font-size: clamp(40px, 1.5vw, 1.8vw);
    border-bottom: 2px solid;
    font-family: 'Syncopate', sans-serif;
    ;
}

.aboutcontainer :nth-child(2) {
    text-align: start;
    padding-left: 50px;
    font-weight: 400;
    font-size: calc(2rem + 1vw);
    margin-top: 8vh;
    font-family: 'Libre Franklin', sans-serif;
    line-height: clamp(4vw, 5vw, 4vw);
    word-spacing: 0.4vw;
}

.lineChildren {
    padding: 0;
    margin: 0;
    display: inline;
}

.aboutcontainer2 {
    width: 99vw;
    height: 50vh;
    background-color: aqua;
}

#abouText div {
    display: inline !important;
    margin: 0;
    padding: 0;
}